figure {
    display: flex;
    align-items: center;

    height: calc(100dvh - 9rem);

    gap: 4rem;
}

figure img {
    border-radius: 2rem;
}

@media screen and (orientation: landscape) {
    figure img {
        height: 70rem;
    }
}

@media screen and (orientation: portrait) {
    figure {
        flex-direction: column;
        justify-content: center;

        gap: 5rem;

        height: 80dvh;
    }    

    main {
        padding: 20rem 0 8rem 0;
    }

    figure img {
        width: 50%;
    }

    figcaption h2 {
        font-size: clamp(3.5rem, 4.5dvw, 10rem);
        text-align: center;
    }

    figcaption p {
        font-size: clamp(3rem, 2.5dvw, 8rem);
        text-align: center;
    }
}