main {
    padding: 7rem 0 0 0;
    max-height: calc(100dvh - 5rem);
    position: relative;
}

main img {
    height: clamp(20rem, 50dvw, 80rem);
    border-radius: 4rem;
}

figure {
    display: flex;
    align-items: center;

    height: 90dvh;
}

figcaption {
    display: flex;
    align-items: center;
}

@media screen and (orientation: portrait) {
    figure {
        flex-direction: column-reverse;
        justify-content: center;

        gap: 5rem;
    }    
}

